---
import Layout from '@layouts/Layout.astro';
import ShortIntro from '@components/home/ShortIntro.astro';
import Skills from '@components/home/Skills.astro';

const title = 'Kalyan Jyoti Borah';
const description = "The Homepage of Kalyan Jyoti Borah's Portfolio";
const permalink = '';
const ograph = '';
---

<Layout
  {title}
  {description}
  {permalink}
  {ograph}
>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src='https://www.googletagmanager.com/gtag/js?id=G-PK4HB89SDH'
  ></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-PK4HB89SDH');
  </script>

  <section class='relative overflow-hidden h-screen'>
    <div
      class='h-[calc(100dvh-4.75rem)] grid items-center justify-center w-[80%] m-auto pt-[4.75rem]'
    >
      <h1
        class='z-[80] flex flex-col my-24 md:m-auto w-full justify-center text-left font-intro text-4xl shadow-slate-500 font-bold md:text-6xl'
      >
        <span
          class='text-left text-gray-100 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]'
          >Building Tomorrow's World</span
        >
        <span
          class='text-left text-gray-100 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]'
        >
          with Today's Code:</span
        >
        <span
          class='text-left animate-scale-in-hor-center text-gray-400 drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)] pt-3 text-2xl md:text-3xl'
          >A Programmer's Showcase</span
        >
      </h1>
    </div>
    <!-- <a
      href="#about"
      class="flex w-[48px] h-[48px] m-auto items-center outline outline-gray-300 rounded-full justify-center"
    >
      <i class="fa-solid fa-angles-down fa-bounce fa-xl"></i>
    </a> -->
  </section>
  <ShortIntro />
  <Skills />
</Layout>
