---

---

<section id="about" class="font-display">
  <div
    class="w-[80%] md:max-w-[666px] sm:w-[70%] flex flex-col md:flex-r m-auto py-8 columns-1 md:columns-2"
  >
    <div class="only:flex flex-col gap-4 text-left">
      <h2
        class="flex flex-col text-left text-gray-200 font-intro font-bold md:pb-4 text-2xl md:text-3xl"
      >
        <div>
          <span id="wave">👋</span>{' '}
          <span id="greet">Hello, World</span>
        </div>
        <span
          class="bg-[linear-gradient(rgba(112,112,112,100%),rgba(229,229,229,100%))] bg-clip-text text-transparent"
        >
          I'm Kalyan Jyoti Borah
        </span>
      </h2>
      <div
        class="grid text-left sm:text-left text-gray-400 text-xl leading-relaxed"
      >
        <span>
          Passionate developer, crafting websites and apps for pure joy.
        </span>
        <span>
          From
          <a
            class="underline underline-offset-2 decoration-blue-500"
            target="_blank"
            href="https://www.google.com/maps/@26.8579798,94.6144099,17.61z?entry=ttu"
            >India &#x1F1EE;&#x1F1F3;</a
          >
        </span>
      </div>
      <div class="flex justify-left">
        <a
          href="/about/"
          class="border decoration-purple-50 border-blue-500 px-1 py-2 sm:px-2 sm:py-3 rounded-xl"
        >
          <i class="fa-regular fa-circle-user"></i>
          {' '}
          <span>More About Me</span>
        </a>
      </div>
    </div>
  </div>
</section>
