---
import BaseHead, {
  Props as BaseHeadProps,
} from '@components/common/BaseHead.astro'
import Header from '@components/common/Header.astro'
export interface Props extends BaseHeadProps {}
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3ZGF3GZ"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
