---
import BaseHead, {
  Props as BaseHeadProps,
} from '@components/common/BaseHead.astro'
import Header from '@components/common/Header.astro'
export interface Props extends BaseHeadProps {}
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
